<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <title> Lien d'inscription DLC </title>
</head>
<body>
    <div>
        <header>            
            <img style="width:100%" src="https://raw.githubusercontent.com/aviateur22/picture_lesson/85d44975eb6790dcb4e8fd43d5cf5e77a803739e/ICONE.svg" alt="image avec un pouce et un text">
        </header>

        <main style="box-sizing: border-box;  display: flex; width: 100%; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            <p style="margin-bottom: 20px"> Bonjour !%!email!%!</p>
            <p>	Voici votre lien pour finaliser la création de votre compte sur le site de DLC:</p>

            <div style="width: 100%; margin: 20px; text-align: center;">   
            	<a style="border-radius: 5px; color: white; padding: 10px; background: #FF8A00; text-decoration: none; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;" href=!%!link!%!> Inscription </a>             
                                
            </div>

            <div style="display:flex;flex-direction:column; width: 100%; padding: 5px 0px;">
                <p style="padding: 0px; margin: 0px; padding-right: 5px;">Code de confirmation pour finaliser votre inscription, conservez-le car il vous sera demandé lors de votre inscription: </p>
                <div style="margin: 20px; width:100%; text-align: center">
	                <p style="padding: 0px; margin: 0px; font-size: 20px; font-weight:bold;">!%!token!%!</p>
                </div>
            </div>
        </main>

        <footer>
             <div style="display: flex;flex-direction: column;  justify-content: center; background-color:#FF8A00; padding: 10px">
                <p style="text-align: center; padding: 5px; background-color:#FF8A00; color: white;"> 				
                    CTOUTWEB | DLC 
                   </p>
                <p style="text-align: center; padding: 5px; background-color: #FF8A00; color: white;">
                    Société spécialisée dans le développement informatique
                </p>
                <p style="text-align: center; padding: 5px; background-color:#FF8A00; color: white;">
                    RCS 911 273 852b.
                </p>            
            </div>
        </footer>
    </div>
</body>
</html>