<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <title> Lien pour pouvoir s'inscrire </title>
</head>
<body>
    <div>
        <header>
            <h2 style="color:#5555f7; text-align: center; text-transform: uppercase; font-size: large;" > Copie de votre question </h2>
            <img style="width:100%" src="https://raw.githubusercontent.com/aviateur22/picture_lesson/main/ctoutwebMessage.jpg" alt="image avec un pouce et un text">
        </header>

        <main style="box-sizing: border-box;  display: flex; width: 100%; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            <p >Bonjour !%!email!%!<br>
            	Voici votre lien pour finaliser la création de votre compte sur le site de DLC:
            </p>

            <div style="display:flex; width: 100%; padding: 15px 0px;">   
            	<a style="border-radius: 5px; color: white; padding: 10px; background: blue; text-decoration: none; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;" href=!%!link!%!> Inscription </a>             
                                
            </div>

            <div style="display:flex;flex-direction:column; width: 100%; padding: 5px 0px;">
                <p style="padding: 0px; margin: 0px; padding-right: 5px;">Code de confirmation pour finaliser votre inscription</p>
                <p style="padding: 0px; margin: 0px; padding-right: 5px;">Conservez-le car il vous sera demandé lors de votre inscription</p>
                <p style="padding: 0px; margin: 0px; font-size: 20px; font-weight:bold;">!%!token!%!</p>
            </div>
        </main>

        <footer>
            <div style="display: flex;flex-direction: column;  justify-content: center; background-color:rgb(100, 100, 100) ; padding: 10px">
                <p style="text-align: center; padding: 5px; background-color:rgb(100, 100, 100); color: white;"> 				
                    CTOUTWEB | DLC  | Cyrille Cadé
                   </p>
                <p style="text-align: center; padding: 5px; background-color:rgb(100, 100, 100); color: white;">
                    Société spécialisée dans le développement informatique
                </p>
                <p style="text-align: center; padding: 5px; background-color:rgb(100, 100, 100); color: white;">
                    RCS 911 273 852b.
                </p>            
            </div>
        </footer>
    </div>
</body>
</html>